 /*  Navigation */
nav{
  margin: 1rem;
  display: flex;
  justify-content: space-between;
}
nav ul{
  display: flex;
  gap: .5rem;
}

nav a{
  color: black;
}

nav ul li:nth-of-type(4) a{
  text-decoration: underline;
  text-underline-offset: .5rem;
  text-underline-position: below;
}






/*footer */
footer{
  background-color: gray;
  justify-content: space-between;
  display: flex;
  padding: 2rem;
}
.containerLinks{
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

footer a {
  color: black;
}